body {
  background: #121212;
  color: #eee;
  font-family: sans-serif;
  padding: 2em;
  min-height: 100%;
}

a {
  color: #00aaff;
  text-decoration: none;
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #444;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

button {
  background-color: #333;
  border: none;
  color: white;
  font-size: 1em;
  padding: 0.6em 1em;
  border-radius: 6px;
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    background-color 0.3s ease;
  margin-bottom: 1em;
}

.admin-panel-button:hover,
.settings-btn:hover,
.logout-btn:hover,
.upload-btn:hover {
  opacity: 1;
  background-color: #666;
}

.logout-btn {
  background-color: #777;
  opacity: 0.7;
}

.upload-btn {
  background-color: #424242;
  padding: 10px 20px;
  margin-top: 10px;
}

.upload-btn:hover {
  background-color: #616161;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #272727;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  max-width: 400px;
  max-height: 80vh;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  color: #eee;
}

.modal-content form input {
  border: none;
  border-radius: 6px;
  background: transparent;
  color: white;
  font-size: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.user-actions {
  display: flex;
  gap: 0.6em;
  margin-top: 1em;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-weight: bold;
}

.role-btn:hover {
  background-color: #777;
}

.delete-btn {
  background-color: red;
}

.download-btn,
.delete-file-btn {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 0.4em 0.9em;
  font-size: 0.9em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.icon {
  height: 2rem;
  vertical-align: middle;
  margin-right: 5px;
}

.delete-file-btn,
.delete-folder-btn {
  background-color: #e53935;
  border: none;
  color: white;
  font-size: 0.9em;
  padding: 0.4em 0.9em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #66bb6a;
}

.drop-zone {
  border: 2px dashed #555;
  border-radius: 8px;
  padding: 40px 20px;
  background: #2a2a2a;
  color: #ccc;
  cursor: pointer;
  transition:
    border-color 0.3s,
    background-color 0.3s;
  margin-bottom: 20px;
}

.drop-zone.dragover {
  border-color: #4fc3f7;
  background-color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.uploaded-files li {
  background-color: #2b2b2b;
  color: #fff;
  margin: 4px 0;
  padding: 6px 10px;
  border-left: 4px solid #4fc3f7;
  border-radius: 6px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-file-btn {
  background: transparent;
  border: none;
  color: #ff6b6b;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  margin-left: 10px;
}

#filePreviewModal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

#filePreviewModal .modal-content {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
  overflow: auto;
  position: relative;
}

#fileContent {
  max-height: 70vh;
  color: #fff;
  overflow: auto;
  font-family: "Fira Code", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#fileContent img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

#filePreviewModal .close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.3s;
}

#filePreviewModal .close-btn:hover {
  color: #e00;
}

.modal .modal-content ul li {
  font-size: 1.2em;
}
.modal .modal-content ul li span {
  color: #ccc;
  font-weight: bold;
}
